<div class="jumbotron resume-container">
    <h2 class="">Resume</h2>
    <h3>Education</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne-One">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-One" aria-expanded="false" aria-controls="collapseOne-One">
                            Brigham Young University
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">Apr 2018</span>
                        </div>
                    </div>
                </h4>
                </div>
                <div id="collapseOne-One" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-One">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne-Two">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-Two" aria-expanded="false" aria-controls="collapseOne-Two">
                            Pueblo East High School
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">May 2011</span>
                        </div>
                </h4>
                </div>
                <div id="collapseOne-Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-Two">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
        </div>  
    <h3>Experience</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo-One">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-One" aria-expanded="false" aria-controls="collapseTwo-One">
                            doTERRA International, LLC.
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">Feb 2015 - Present</span>
                        </div>
                </h4>
                </div>
                <div id="collapseTwo-One" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-One">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo-Two">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-Two" aria-expanded="false" aria-controls="collapseTwo-Two">
                            HomeBase AMC
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">Apr 2016 - Present</span>
                        </div>
                </h4>
                </div>
                <div id="collapseTwo-Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-Two">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo-Three">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-Three" aria-expanded="false" aria-controls="collapseTwo-Three">
                            Missionary Mailbag
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">Jan 2016 - Present</span>
                        </div>
                </h4>
                </div>
                <div id="collapseTwo-Three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-Three">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo-Four">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-Four" aria-expanded="false" aria-controls="collapseTwo-Four">
                            Brigham Young University
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">Aug 2014 - Aug 2015</span>
                        </div>
                </h4>
                </div>
                <div id="collapseTwo-Four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-Four">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo-Four">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-Five" aria-expanded="false" aria-controls="headingTwo-Five">
                            LDS Church
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">Jul 2012 - Jul 2014</span>
                        </div>
                </h4>
                </div>
                <div id="collapseTwo-Five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-Five">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
        </div>  
    <h3>Skills and Coursework</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree-One">
                <h4 class="panel-title">
                    <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-One" aria-expanded="false" aria-controls="collapseThree-One">
                    Technical Skills
                    </a>
                </h4>
                </div>
                <div id="collapseThree-One" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-One">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree-Two">
                <h4 class="panel-title">
                    <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-Two" aria-expanded="false" aria-controls="collapseThree-Two">
                    Other Skills
                    </a>
                </h4>
                </div>
                <div id="collapseThree-Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-Two">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree-Three">
                <h4 class="panel-title">
                    <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-Three" aria-expanded="false" aria-controls="collapseThree-Three">
                    Coursework
                    </a>
                </h4>
                </div>
                <div id="collapseThree-Three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-Three">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
        </div>  
    <h3>Awards</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour-One">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-One" aria-expanded="false" aria-controls="collapseFour-One">
                            Eagle Scout Award
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">Apr 2011</span>
                        </div>
                </h4>
                </div>
                <div id="collapseFour-One" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour-One">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour-Two">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-Two" aria-expanded="false" aria-controls="collapseFour-Two">
                            International Baccalaureate Graduate
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">May 2011</span>
                        </div>
                </h4>
                </div>
                <div id="collapseFour-Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour-Two">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
        </div> 
    <h3>References</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive-One">
                <h4 class="panel-title">
                    <a class="collapsed panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive-One" aria-expanded="false" aria-controls="collapseFive-One">
                    References
                    </a>
                </h4>
                </div>
                <div id="collapseFive-One" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive-One">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
        </div> 
</div>